/* Font links */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #000000;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  display: inline;
}
body {
  color: #000000;
  font-family: "Lato", monospace;
  font-size: 1rem;
}

/* header start */

header {
  background: rgb(226, 226, 226);
  padding: 1rem;
}

/* header-logo */

.header-logo-section {
  width: 6rem;
  height: 1rem;
  margin: 0 2rem 0 -1rem;
}

/* header-search */

.header-search-section {
  position: relative;
}
.header-search {
  width: 20rem;
  padding: 0.5rem 2.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px #ffffff;
}
.search-icon {
  position: absolute;
  top: 0.4rem;
  left: 0.6rem;
  color: #757575;
  cursor: pointer;
  transition: all 0.5s ease;
}
.search-icon:hover {
  color: #ef394e;
}
/* header-btns */

.header-btns-section i {
  font-size: 22px;
  cursor: pointer;
}
.header-login-btn > button {
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #636363 !important;
  background: rgba(255, 255, 255, 0.699);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 2px #ffffff;
}
.header-login-btn > button:hover {
  color: red !important;
}
.header-btns-line {
  height: 2rem;
  width: 0.5px;
  background-color: #7a7a7a;
  margin: 0 1rem;
}
.header-shopcart-btn {
  transition: all 0.5s ease-in-out;
}
.header-shopcart-btn:hover {
  color: rgba(206, 0, 0, 0.767);
  transform: translateY(-5px);
}

/* Burger menu */

.header-menu-btn button {
  background-color: transparent !important;
}
.header-menu-btn button i {
  font-size: 25px !important;
}

/* header end */

/* navbar start */
.navbar-menu-item {
  position: relative;
  margin: 0;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: #636363;
}
.navbar-menu-item a {
  color: #424242ef;
}
.navbar-menu-item a:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1.7px;
  background: rgb(255, 0, 0);
  transition: all 1s ease-in-out;
}
.navbar-menu-item a:hover {
  color: #0c0c0cef;
}
.navbar-menu-item a:hover:before {
  width: 100%;
  color: #000000;
}
#categorie button {
  margin: 0;
  background: transparent;
  border-right: 1px solid rgba(128, 128, 128, 0.507);
  padding-right: 20px;
}
/* navbar end */

/* carousel start */
.main-carousel {
  height: 100%;
}

.slider-images {
  display: inline-block;
  background-image: url(../image/slider/slide-1.jpg);
  background-size: cover;
  background-position: center;
  width: 95%;
  height: 30rem;
  margin: 0.5rem 1rem 0;
  border-radius: 1rem;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.slider-btns {
  position: absolute;
  right: 2.5rem;
  left: 2.5rem;
  bottom: 50%;
}
.slider-next {
  position: absolute;
  right: 0;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  z-index: 100;
}
.slider-prev {
  position: absolute;
  left: 0.5rem;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  z-index: 100;
}
.slider-controll {
  position: absolute;
  bottom: 3%;
  left: 45%;
  color: rgba(255, 255, 255, 0.897);
  font-size: 0.84rem;
  text-align: center;
  margin-top: -1.5rem;
}
.slider-btns span,
.slider-controll span {
  cursor: pointer;
  transition: all 0.5s ease;
  text-shadow: 0 0 1px #7a7a7a;
}
.slider-btns span:hover,
.slider-controll span:hover {
  color: #afafaf;
}
.active {
  color: #afafaf;
}
.Ad-image a img {
  width: 92%;
  height: 14rem;
  margin: 0.5rem 0.5rem 1rem;
  border-radius: 1rem;
}
@media (max-width: 800px) {
  .slider-images {
    width: 85%;
    height: 17rem;
  }
  .slider-btns {
    position: absolute;
    right: 4rem;
    left: 4rem;
    bottom: 50%;
  }
}
/* carousel end */

/* Amazing-offer start */

#Amazing-offer-section {
  background: #ef394e;
}

.Amazing {
  padding: 2rem;
  margin: 1rem 0;
}
.offer-info-img img {
  width: 13rem;
  height: 17rem;
}
.offer-btn a {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  padding: 0.6rem 1.5rem;
  margin-top: 1rem;
  transition: all 0.5s ease-in-out;
}
.offer-btn a:hover {
  color: #ff0000;
  background: #ffffff;
}
.offer-cards {
  overflow-x: auto;
  overflow-y: hidden;
}
.offer-cards::-webkit-scrollbar {
  display: none;
}
.card {
  padding: 1rem;
  min-width: 12rem !important;
  cursor: pointer;
  transition: all 0.1s ease;
}
.card:hover {
  transform: scale(1.02);
  border-radius: 9px;
}
.card-img {
  min-width: 11rem;
}
.card-img figcaption {
  text-align: center;
  margin-top: 1rem;
}
.card-img-responsive {
  width: 10rem;
  height: 10rem;
}
.card-price s {
  color: #757575;
}
progress {
  width: 100%;
  height: 1rem;
  border-radius: 0.5rem;
}
progress::-webkit-progress-bar {
  background-color: rgb(216, 216, 216);
  border-radius: 1rem;
  height: 0.4rem;
}
progress::-webkit-progress-value {
  background-color: rgb(255, 0, 0);
  border-radius: 1rem;
  height: 0.4rem;
}
progress::-moz-progress-bar {
  background-color: rgb(255, 0, 0);
  border-radius: 1rem;
  height: 0.5rem;
}
.card-info {
  font-size: 15px;
  color: #333333;
}

@media (max-width: 500px) {
  .Amazing {
    padding: 2rem 0.5rem;
  }
  .offer-info-img img {
    width: 8rem;
    height: 13rem;
    margin-right: 1rem;
  }
  .card {
    padding: 0.6rem;
  }
  .card-info {
    font-size: 13px;
    color: #333333;
  }
}
/* Amazing-offer end */

/* Ad-section start */

.Ad-section {
  margin: 1rem 0;
}
.Ad-card img {
  width: 97%;
  height: 14.5rem;
  border-radius: 1rem;
}
/* Ad-section end */

/* Amazing-SuperMarket-cards start*/
#Amazing-SuperMarket-section {
  background: #6bb927;
}
#SuperMarket-btn:hover {
  color: #6bb927;
  direction: rtl;
}
/* Amazing-SuperMarket-cards end*/
